*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  /* this is the standard way to make responsive */
  font-size: 62.5%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
